<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Slim Demo PNA</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom fonts for this template -->
    <link href="{{ base_url() }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ base_url() }}/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
   {% include 'templates/layout/navigation.twig' %}
    <!-- Header -->
   {% include 'templates/layout/header.twig' %}
  

    <!-- Content Grid -->
   {% include 'templates/layout/content.twig' %}


  
    <!-- Footer -->
    {% include 'templates/layout/footer.twig' %}
    
    <!-- modal -->
 

    <!-- Bootstrap core JavaScript -->
    <script src="{{ base_url() }}/jquery/jquery.min.js"></script>
    <script src="{{ base_url() }}/popper/popper.min.js"></script>
    <script src="{{ base_url() }}/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ base_url() }}/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="{{ base_url() }}/js/jqBootstrapValidation.js"></script>
    <script src="{{ base_url() }}/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ base_url() }}/js/agency.min.js"></script>

  </body>

</html>
